{
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    ["react"]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}