extends layout

block content
  .jumbotron
    if user
      h1 Hello #{user.username}
    else
      h1 Hello unknown
  
  ul
    for poll in polls
      li= poll.topic 
        ol
          for choice in poll.choices
            li= choice.text