extends layout

block content
  .jumbotron
    if user
      h1 Hello #{user.username}
    else
      h1 Hello unknown
    
    if user
      a.btn(href="/logout") Logout
    else
      a.btn(href="/login") Login
      a.btn(href="/register") Register
