extends layout

block content
  .jumbotron
    if user
      h1 Hello #{user.username}
    else
      h1 Hello unknown
  
  .poll-list
    for poll in polls
      a.poll.well(href=`/poll/${poll.id}`)
        h4= poll.topic