extends layout

block content
  h3= poll.topic
  while message = flash.shift() 
    div.alert.alert-danger= message.message
  form(method="post")
    for choice in poll.choices
      .radio
        label
          input(type="radio", name="choice", value=choice._id)
          span= choice.text
    
    .btn-group
      button.btn.btn-primary(type="submit") Vote
      a.btn.btn-default(href="/") Cancel