extends layout

block content
    block title
    while message = flash.shift() 
      div.alert.alert-danger= message.message
    block form

mixin sign-form(action)
  form(action=action, method="post")
    .form-group
      input.form-control(type="text", name="username", placeholder="username")
    .form-group
      input.form-control(type="password", name="password", placeholder="password")
    .btn-group
        button.btn.btn-primary(type="submit") Submit
        a.btn.btn-default(href="/") Cancel