body {
  margin-top: 70px;
}

.poll-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.poll {
  cursor: pointer;
  margin-right: 5px;
}

.poll:last-child {
  margin-right: 0;
}

.poll:hover {
  background: #8F8F8F;
}